.header{
display: flex;
justify-content: space-between;
padding:20px;
background:#111;
color:white;
font-size:20px
}

nav a{
    color:white;
    margin:10px;
    text-decoration: none;
}

.logo-name{
    display: flex;
    align-items: center;
    height: 10;
}

.open{
    text-align: center;
    background: linear-gradient(135deg,green,yellow,red);
    padding:342px
}

.card{
    background-color: rgba(255,255,255,0.08);
    padding: 30px;
    border-radius: 15px;
    backdrop-filter: blur(10px);
    width: 1400px;
    align-items: center;
    color:white;
}

.features{
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 60px;
}

.child {
  /* text-align プロパティに center を設定 */
  text-align: center;
}
.child span {
  color: red;
}

body{
    background-color: black;
}

.card a{
    color:white;
}

.features{
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 15px;
}

.open-2{
    text-align: center;
    background: white;
    padding: 342px;
}